.carousel .carousel-indicators li {
    max-width: 40px;
    height: 15px;
    width: 40px;
    border-radius: 0 !important;
    cursor: pointer;
    border: 5px solid teal;
}
.text-teal{
    color: #00796b;
}
.textarea{
    border-radius: 10px;
    height: auto;
}
.textarea{
    border: 2px solid #4888f1;
}
.t_img{
    margin-top: -50px;
}
.t_card:hover{
    background-color: #00796b;
    cursor: pointer;
}

.t_card:hover h3 , .t_card:hover p{
    color: white;
}

.t_card:hover .t_icon{
    color: white;
}
.myClass{
    color: black;
    font-family: 'Archivo Black', sans-serif;
}